.pt-12{
    padding-top: 3rem;
}

.gap-10{
    gap: 40px;
}

.bg-purple {
        background-color: #3D0A91;
}

.text-purple {
        color: #3D0A91;
}

.w-90 {
        width: 90%;
}

.gap-6{
    gap: 24px;
}

.gap-8{
    gap: 32px;

}
.pr-18{
    padding-right: 72px;
}
.pb-12{
    padding-bottom: 48px;
}

.pl-18{
    padding-left: 72px;
}

.pr-6{
    padding-right: 24px;
}
.pb-8{
    padding-bottom: 32px;
}

.pl-6{
    padding-left: 24px;
}

.pt-8{
    padding-top: 32px;
}

.p-nav{
    padding-left: 40px;
    padding-right: 40px;
}

.mt-6{
    margin-top: 24px;
}

.mr-6{
    margin-right: 24px;
}

.mt-12{
    margin-top: 48px;
}

.border-top-sm {
    border-top: 2px solid #E0CFFC;
}

.fs-12 {
  font-size: 12px;
}

.gap-4{
    gap: 4px;
}

    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #ffffff;
    }

    .hero-section {
        margin-top: 3rem;
      }
      .section-purple {
        background-color: #520DC2;
        color: white;
        padding: 80px;
        border-radius: 1.5rem;
      }
      .microsoft-box {
        background-color: #6610F2;
        width: 1136px;
        height: 105px;
        padding: 16px 32px;
        border-radius: 0.75rem;
      }
      .badge {
        background-color: #EBE5FC;
        color: #5227CC;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 6px;
        white-space: nowrap;
        z-index: 2;
      }
      .btn-custom-purple {
        background-color: #7749F8;
        color: white;
        border: none;
        padding: 16px 24px;
        border-radius: 0.5rem;
      }
      .btn-custom-purple:hover {
        background-color: #6638db;
        color: white;
      }
      .mb-2{
      margin-bottom: 8px;
  }
  .card-grid {
        padding: 0 220px;
      }
      .custom-card {
        background-color: #fff;
        width: 416px;
        height: 452px;
        border-radius: 16px;
        overflow: hidden;
        flex-direction: column;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      }
      .custom-card img {
        width: 416px;
        height: 234px;
        object-fit: cover;
        display: block;
      }
      .custom-card-body {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
      }
      .custom-card-title {
        font-weight: 600;
        font-size: 1.5rem;
        color: #520DC2;
        margin-bottom: 0;
      }
      .custom-card-text {
        font-size: 1rem;
        color: #152536;
      }
      .badge-container {
        background-color: #E9ECEF;
        border-radius: 1000px;
        padding: 4px 32px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 1rem
      }
      .pill-logo {
        font-weight: 700;
        font-size: 1.2rem;
        color: #520DC2;
      }
      .pill-tag {
        background-color: #520DC2;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 600;
        padding: 2px 8px;
        border-radius: 4px;
      }
      .card-grid .row {
        --bs-gutter-x: 24px;
        --bs-gutter-y: 40px;
      }
      .pagination-wrapper {
        width: 1296px;
        height: 72px;
        background-color: #F8F9FA;
        border-radius: 12px;
        padding: 16px;
      }
      
      .pagination .page-link {
        color: #343a40;
        border: 1px solid #DEE2E6;
        margin: 0 8px;
        padding: 8px 16px;
        border-radius: 6px;
        font-weight: 500;
      }
      
      .pagination .page-item.active .page-link {
        background-color: #8540F5; /* violet actif */
        color: white;
        border-color: #8540F5;
      }
      

      .btn-primary.my-button {
  --bs-btn-font-weight: 600;
  --bs-btn-font-size: 1rem;
    --bs-btn-color: white;
    --bs-btn-bg: #6610F2;
    --bs-btn-border-color: #6610F2;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #7a36ff;
    --bs-btn-hover-border-color: #7a36ff;
    --bs-btn-focus-shadow-rgb: green;
    --bs-btn-active-color: #7a36ff;
    --bs-btn-active-bg: #7a36ff;
    --bs-btn-active-border-color: #7a36ff;
}
.btn-secondary.my-button {
  --bs-btn-font-weight: 600;
    --bs-btn-font-size: 1rem;
    --bs-btn-color: #6610F2;
    --bs-btn-bg: #EBE5FC;
    --bs-btn-border-color: #EBE5FC;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #7a36ff;
    --bs-btn-hover-border-color: #7a36ff;
    --bs-btn-focus-shadow-rgb: green;
    --bs-btn-active-color: yellow;
    --bs-btn-active-bg: #7a36ff;
    --bs-btn-active-border-color: #7a36ff;
  }

  .tittle-modal-section{
    color: #000;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 125% */
  }

  .content-modal-section{
    color: #000;

/* Body/Small */
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

.opitionlist{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
align-self: stretch;
}

.badge-primary.my-badge{
  color: white;
   background-color:rgba(61, 10, 145, 1);
}

.listgroupeitem{
  display: flex;
padding: 0.5rem 1rem;
align-items: center;
gap: 0.5rem;
align-self: stretch;
border-bottom: 1px solid var(--Gray-300, #DEE2E6);
}

.subheading{
  flex: 1 0 0;
}